[submodule "vendor/ghostty"]
	path = vendor/ghostty
	url = https://github.com/runode-dev/ghostty
[submodule "vendor/libghostty-rs"]
	path = vendor/libghostty-rs
	url = https://github.com/runode-dev/libghostty-rs
